
.App {
  max-width: 1200px;
  margin: auto;
}

.App-header {
  border-radius: 0px 0px 10px 10px;
}

section {
  margin-left: 20px;
  margin-right: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


/* Form */

form {
  margin-right: 10%;
}

input, textarea {
  width: 100%;
  padding: 12px 12px;
  margin-top: 6px;
  margin-bottom: 12px;
  box-sizing: border-box;
  display: block;
}

textarea {
  padding-bottom: 50px;
}

button {
  margin-right: 6px;
}

label {
  display: block;
}


/* Book list */

.bookList {
  border: 1px solid gray;
  text-align: center;
}

.bookItem {
  padding: 1em 0.5em 0em 0.5em;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.bookItem h2 {
  margin-top: 0;
}

.bookTitle {
  margin-bottom: 0;
}

.bookAuthor {
  font-style: italic;
}

.bookDescription {
  margin-bottom: 20px;
}

.active {
  color: rgb(240, 77, 1);
  background-color: rgb(234, 249, 255);
}

.errorMessage {
  color: Red;
}