.bookList {
    border: 1px solid gray;
    text-align: center;
  }
  
  .bookItem {
    padding: 1em 0.5em 0em 0.5em;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }
  
  .bookItem h2 {
    margin-top: 0;
  }
  
  .bookTitle {
    margin-bottom: 0;
  }
  
  .bookAuthor {
    font-style: italic;
  }
  
  .bookDescription {
    margin-bottom: 20px;
  }
  
  .active {
    color: rgb(240, 77, 1);
    background-color: rgb(234, 249, 255);
  }
  
  .errorMessage {
    color: Red;
  }


